<div class="container separacion mt-5 pt-3">
    <div class="row justify-content-center m-3 align-items-center">
        <h2 class="hancho2">Presupuestos en curso:</h2>
        <div class="row justify-content-center m-3 align-items-baseline">
            <div class="col-3 offset-5 ">
                <input type="text" class="form-control" [(ngModel)]="busqueda" (input)="buscarPorNombre()" placeholder="buscar...">
            </div>
            <div class="col-1">
                <p type="button" (click)="ordenarFecha()"> Data</p>
            </div>
            <div class="col-1">
                <p type="button" (click)="ordenarPrecio()"> Precio</p>
            </div>
            <div class="col-1">
                <p type="button" (click)="ordenarNombre()">Nombre</p>
            </div>
        </div>
    </div>
    
    @for (datos of listaAplanada; track $index) {
            <div class="row justify-content-center border m-3 rounded-3 shadow align-items-center">
                <div class="col-4 p-3 d-flex flex-column ">
                    <h1 class="m-0">{{datos.nombre}}</h1>
                    <p class="m-0 text-secondary hancho">{{datos.email}} </p>
                    <p class="m-0 text-secondary hancho">{{datos.telefono}} </p>
                </div>
                <div class="col-4 pt-2">
                    <h5>Servicios contratados:</h5>
                    <ul>
                        @for (objeto of datos.servicio; track $index) {
                            <li>
                                {{objeto.nombre}} 
                                @if (objeto.paginas && objeto.lenguas) {
                                    ({{objeto.paginas}} paginas,{{objeto.lenguas}} lenguas.)
                                }
                                @if (objeto.paginas && !objeto.lenguas) {
                                    ({{objeto.paginas}} paginas.)
                                }
                                @if (!objeto.paginas && objeto.lenguas) {
                                    ({{objeto.lenguas}} lenguas.)
                                }
                            </li>
                            }
                    </ul>
                    
                </div>
                <div class="col-3">
                    <div class="row justify-content-center">
                        <p class="m-0 text-secondary hancho">Total:</p>
                    </div> 
                    <div class="row">
                        <div class="col d-flex align-items-end gap-1">
                            <h3>{{datos.dinero}}</h3>
                            <h4>€</h4>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        }
</div>
