
.aliniar-centro {
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-custom{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    padding: 0; 
    font-size: 10px; 
    text-align: center; 
    vertical-align: middle;

}
.text-custom{
    text-align: start;
    font-size: 13px;
}
.precio{
    font-weight: 700;
}
.separacion {
    height: 2px; /* Ajusta la altura si necesitas una línea más gruesa */
    background-image: linear-gradient(to right, #808080 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 20px 1px; /* Aumenta el espaciado entre los puntos */
    background-repeat: repeat-x;
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-fondo{
    color: rgb(241, 246, 241);
    background-image: url('/assets/img/milad-fakurian-wNsHBf_bTBo-unsplash.jpg');
    height: auto; 
    width: auto; 
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
}
