<form [formGroup]="formularioPresupuesto" >
<div>
        @for (serv of servicio; track $index) {
            <div class="objeto">
                <div class="info">
                        <div class="nombre">
                        <h1>{{serv.nombre}}</h1>
                        <p>{{serv.descripcion}}</p>
                    </div>
                    <div class="precio">
                        {{serv.precio}}
                    </div>
                    <div class="check">
                        <input type="checkbox" [formControlName]="'servicio' + $index" (change)="calcularPresupuesto(); desmarcar(); calcularTotal()" > Añadir
                    </div>
                </div>
                        <div class="desplegable"> <!-- desplegable que sale cuando le doy a un boton check -->
                            @if (formularioPresupuesto.value.servicio2 && $index===2) {
                                <div class="paginas">
                                    <button (click)="openPopup('paginas')">i</button>
                                    <p>Nombre de paginas</p>
                                    <button (click)="decrementar();calcularTotal()">-</button>
                                    <div class="valor">{{paginas}}</div>
                                    <button (click)="incrementar();calcularTotal()">+</button>
                                </div>
                                <div class="lenguas">
                                    <button (click)="openPopup('lenguas')">i</button>
                                    <p>Nombre de lenguas</p>
                                    <button (click)="decrementar2();calcularTotal()">-</button>
                                    <div class="valor">{{lenguas}}</div>
                                    <button (click)="incrementar2();calcularTotal()">+</button>
                                </div>
                            }
                        </div>
            </div>
    }
    <div class="presupuesto">{{presupuestoTotal}} </div>
</div>
    </form>
    <form [formGroup]="formulario" (ngSubmit)="submit()" >
        <div class="listaPresupuesto">
            <h2>Demanar presupuesto</h2>

            <input type="text" id="nombre" formControlName="nombre" placeholder="nombre" />

            <input type="text" id="email" formControlName="email" placeholder="email" />

            <input type="text" id="telefono" formControlName="telefono" placeholder="telefono"/>

            <button type="submit">pedir</button>
            
        </div>
    </form>
<div>
    @if (popup == true) {
    <app-popup [tipo]="tipoPopup" (click)="cerrarPopup()"></app-popup>
}
</div>
<div class="datosGuardados">
    <button (click)="borrarDatos()"> borar todo</button>
    <app-lista-presupuesto> </app-lista-presupuesto>
</div>



