<form [formGroup]="formularioPresupuesto" >
            <div class="container ">
                @for (serv of servicio; track $index) {
                <div class="row justify-content-center border m-3 rounded-3 shadow align-items-center">
                        <div class="col-6 p-3 ">
                        <h3>{{serv.nombre}}</h3>
                        <p>{{serv.descripcion}}</p>
                        </div>
                        <div class="col-3 d-flex align-items-end gap-1">
                            <h3 class="precio">{{serv.precio}}</h3>
                            <h4>€</h4>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" [formControlName]="'servicio' + $index" (change)="calcularPresupuesto(); desmarcar(); calcularTotal()" > Añadir
                        </div>
                <div class="offset-7 col-5"> <!-- desplegable que sale cuando le doy a un boton check -->
                            @if (formularioPresupuesto.value.servicio2 && $index===2) {
                                <div class="row d-flex align-items-center mb-1">
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro " (click)="openPopup('paginas')">i</button>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-custom m-0">Numero de paginas</p>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="decrementar();calcularTotal()">-</button>
                                    </div>
                                    <div class="col-2 text-center">
                                        <div class="border border-secondary rounded aliniar-centro">{{paginas}}</div>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="incrementar();calcularTotal()">+</button>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-3">
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="openPopup('lenguas')">i</button>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-custom m-0">Numero de lenguas</p>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="decrementar2();calcularTotal()">-</button>
                                    </div>
                                    <div class="col-2">
                                        <div class="border border-secondary rounded aliniar-centro">{{lenguas}}</div>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="incrementar2();calcularTotal()">+</button>
                                    </div>
                                </div>
                            }
                        </div>
                        </div>
                }
                <div class="row">
                    <div class="col-4 offset-8 d-flex align-items-end gap-1">
                        <h3 class="me-3">Precio del servicio:</h3>
                        <h2 class="precio"> {{presupuestoTotal}}</h2>
                        <h4>€</h4>
                    </div>
                </div>
            </div>
    </form>
        <div class="container">
        <form [formGroup]="formulario" (ngSubmit)="submit()" >
        <div class="row justify-content-center border m-3 rounded-3 shadow align-items-center p-4">
            <div class="col-12">
                <h2 class="mb-4">Pedir presupuesto</h2>
            </div>
            <div class="col d-flex gap-3">
                <input class="border border-secondary rounded flex-grow-1" type="text" id="nombre" formControlName="nombre" placeholder="nombre" />
                <input class="border border-secondary rounded flex-grow-1" type="text" id="email" formControlName="email" placeholder="email" />
                <input class="border border-secondary rounded flex-grow-1" type="text" id="telefono" formControlName="telefono" placeholder="telefono"/>
                <button class="btn btn-success flex-grow-1 ms-5" type="submit">Solicitar presupuesto -></button>
            </div>
        </div>
    </form>
    </div>
    
<div>
    @if (popup == true) {
    <app-popup [tipo]="tipoPopup" (click)="cerrarPopup()"></app-popup>
}
</div>
<div class="datosGuardados">
    <button (click)="borrarDatos()"> borrar todo</button>
    <app-lista-presupuesto> </app-lista-presupuesto>
</div>



