<div class="container">
    <div class="row justify-content-center m-3 rounded align-items-center div-fondo">
        <h1 class="text-center py-5">Consigue mejor servicio!</h1>
    </div>
</div>

<form [formGroup]="formularioPresupuesto" >
            <div class="container">
                @for (serv of servicio; track $index) {
                <div class="row justify-content-center border m-3 rounded-3 shadow align-items-center">
                        <div class="col-5 p-3 ">
                        <h3>{{serv.nombre}}</h3>
                        <p>{{serv.descripcion}}</p>
                        </div>
                        <div class="col-3 d-flex align-items-end gap-1">
                            <h3 class="precio">{{serv.precio}}</h3>
                            <h4>€</h4>
                        </div>
                        <div class="col-3">
                            <input type="checkbox" [formControlName]="'servicio' + $index" (change)="calcularPresupuesto(); desmarcar(); calcularTotal();actualizarUrlConQueryParams()" > Añadir
                        </div>
                <div class="offset-md-7 col-md-5 col-11 "> <!-- desplegable que sale cuando le doy a un check -->
                            @if (formularioPresupuesto.value.servicio2 && $index===2) {
                                <div class="row d-flex align-items-center mb-1">
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro " (click)="openPopup('paginas')">i</button>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-custom m-0">Numero de paginas</p>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="decrementar();calcularTotal();actualizarUrlConQueryParams()">-</button>
                                    </div>
                                    <div class="col-2 text-center">
                                        <div class="border border-secondary rounded aliniar-centro">{{paginas}}</div>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="incrementar();calcularTotal();actualizarUrlConQueryParams()">+</button>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center mb-3">
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="openPopup('lenguas')">i</button>
                                    </div>
                                    <div class="col-4">
                                        <p class="text-custom m-0">Numero de lenguas</p>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="decrementar2();calcularTotal();actualizarUrlConQueryParams()">-</button>
                                    </div>
                                    <div class="col-2">
                                        <div class="border border-secondary rounded aliniar-centro">{{lenguas}}</div>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn border-secondary rounded-circle btn-custom aliniar-centro" (click)="incrementar2();calcularTotal();actualizarUrlConQueryParams()">+</button>
                                    </div>
                                </div>
                            }
                        </div>
                        </div>
                }
                <div class="row">  <!--el precio total -->
                    <div class="col-sm-5 col-9 offset-2 offset-sm-6 d-flex align-items-end gap-1">
                        <h3 class="me-3">Precio del servicio:</h3>
                        <h2 class="precio"> {{presupuestoTotal}}</h2>
                        <h4>€</h4>
                    </div>
                </div>
            </div>
    </form>
        <div class="container">
        <form [formGroup]="formulario" (ngSubmit)="submit()" >
        <div class="row justify-content-center border m-3 rounded-3 shadow align-items-center">
            <div class="col-11 pt-3">
                <h2>Pedir presupuesto</h2>
            </div>
            <div class="row m-3 justify-content-center align-items-center d-flex gap-1">
                <div class="col-2 p-0">
                    <input class="border border-secondary rounded flex-grow-1 form-control" type="text" id="nombre" formControlName="nombre" placeholder="nombre" />
                </div>
                <div class="col-2 p-0">
                    <input class="border border-secondary rounded flex-grow-1 form-control" type="text" id="email" formControlName="email" placeholder="email" />
                </div>
                <div class="col-2 p-0">
                    <input class="border border-secondary rounded flex-grow-1 form-control" type="text" id="telefono" formControlName="telefono" placeholder="telefono"/>
                </div>
                <div class="col-5 ms-2 p-0">
                    <button class="btn btn-success flex-grow-1 form-control" type="submit">Solicitar presupuesto -></button>
                </div>
            </div>
        </div>
    </form>
    </div>
<div>
    @if (popup == true) {
    <app-popup [tipo]="tipoPopup" (click)="cerrarPopup()"></app-popup>
    }
</div>
<div >
    <app-lista-presupuesto> </app-lista-presupuesto>
</div>



